@tailwind base;
@tailwind components;
@tailwind utilities;

::selection{
    background: none;
    color: rgb(205, 127, 19);
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background-color:rgb(29, 28, 28);
    border-radius: 6px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(67, 71, 71);
    border-radius: 6px;
}

#todoArea::-webkit-scrollbar,textarea::-webkit-scrollbar{
    display: none;
}
